@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

/*Code for the Dashboard Image */
.dashboard{
    position: relative;
    z-index: 2;
}

/*Code for the Line within the Transactions Box*/
hr {
    position: absolute;
    width: 308px;
    background-color:#000000;
    opacity: 0.2;
    bottom: 30px;
}

/*image formatting for path inside Transaction Box*/
.img {
    position: absolute;
    top: 85px;
    right: 60px;
    left: 1px;
    z-index: 2;
}

/*Formatting for Transactions Number inside Transactions Box*/
.transactions {
    position:relative;
    font-family: PT Sans;
    font-weight: bold;
    font-size: 2.1875em;
    letter-spacing: 0.4px;
    right: 175px;
    top: 17px;
}

/*Formatting the Transactions Vol text inside Transactions Box*/
.transactions-vol{
    position:relative;
    font-family: PT Sans;
    font-size: 11px;
    opacity: 0.5;
    right: 175px;
    bottom: 12px;
}

/*Blue Transactions Box code*/
.transactionbox {
    position: relative;
    height: 226px;
    width:308px;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #1C7BFF;
    left: 250px;
    top: 0px;
}

/*Formatting for Day Text inside Transaction Box*/
.days{
    font-family: PT Sans;
    font-style: Bold; 
    white-space: nowrap;
    margin: 1px;
    padding: 1px;
}
/*Formatting for individual day list items inside transaction box. */
.days li{
    position: relative;
    right: 175px;
    top: 85px;
    display: inline-block;
    padding: 6px 9px;
    font-size: 8px;
    opacity: 0.5;
    color: #FFFFFF;
    letter-spacing: 0.32px;
    ;
}

/*Formatting for Values Img*/
.valuesimg{
    position: absolute;
    left: 570px;
    right:200px;
    top:20px;
}

/*Formatting for Graph Img*/
.graphimg{
    position: absolute;
    left:225px;
    top:250px;
}

/*Formatting for Podcast Image*/
.podcastimg{
    position: absolute;
    left: 550px;
    top: 0px;
}
/*Formatting for Latest Transactions Box*/
.latest{
    position:relative;
    height: 486px;
    width:275px;
    font-family: PT Sans;
    border-radius: 10px;
    background-color: #FFFFFF;
    left: 50px;
    top: 290px;
}

/*Formatting for Latest Transaction text*/
.latest-text{
    position:relative;
    font-family: PT Sans;
    font-weight: Bold;
    font-size: 17px;
    color: #1D2361;
    letter-spacing: -0.08px;
    white-space: nowrap;
}

/*Latest Transactions Rectangle Formatting*/
.latest-rectangle{
    position: relative;
    height: 52px;
    width: 206px;
    margin: 1px;
    border-radius: 10px;
    padding: 1px;
    white-space: nowrap;
    color: #1D2361;
}

/*List items inside Latest Transactions Rectangle*/
.latest-rectangle li{
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;

}

/*Code for Oval that will hold Shopping Cart Icon*/
.btn {
    height: 50px;
    width: 50px;
    background-color: #1377FF;
    border-radius: 50%;
}

/*Code for Red Number Text*/
.red-text {
    color:#D93527;
}

/*Code for Green Number Text*/
.green-text{
    color: #5BB09C;
}

.tops{
    width: 200px;
    height: auto;
}